.exer-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
  height: 141px;
  border-radius: 20px;
  background-color: var(--white-color);
}

.exer-card__header {
  display: flex;
  justify-content: space-between;
}

.exer-card__tag-box {
  display: flex;
  align-items: center;
}

.exer-card__tag {
  margin-right: 8px;
  padding: 6px 8px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1;
  border: 1px solid var(--black-color);
  border-radius: 15px;
}

.exer-card__post-tag {
  display: flex;
  align-items: center;
}

.exer-card__post-tag span {
  margin-right: 4px;
  font-size: 12px;
}

.exer-card__post-tag button {
  display: flex;
  align-items: center;
  padding: 0;
  height: 100%;
  border: none;
  background-color: transparent;
}

.exer-card__start-btn {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.285;
  border: none;
  background-color: transparent;
  color: var(--black-color);
}

.exer-card__start-btn svg {
  margin-left: 8px;
}

.exer-card__name {
  display: flex;
}

.exer-card__name__icon {
  margin-right: 16px;
  color: var(--black-color);
}

.exer-card__name__text {
  font-size: 20px;
  line-height: 1;
}

.exer-card__stats {
  display: flex;
  justify-content: space-between;
}

.exer-card__stats__param {
  /*width: 30%;*/
  font-size: 12px;
  line-height: 1.5;
  color: var(--black66-color);
}

.exer-card__stats__param span {
  color: var(--black-color);
}

@media only screen and (min-width: 768px) {
  .exer-card__start-btn {
    font-size: 16px;
    line-height: 1.5;
  }

  .exer-card__name__text {
    font-size: 24px;
    line-height: 1.333;
  }
}
