.exer-list__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
  height: 141px;
  border-radius: 20px;
  background-color: #ffffff;
}

.exer-item__header {
  display: flex;
  justify-content: space-between;
}

.exer-item__tag-box {
  display: flex;
  align-items: center;
}

.exer-item__tag {
  margin-right: 8px;
  padding: 6px 8px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1;
  border: 1px solid #242424;
  border-radius: 15px;
}

.exer-item__post-tag {
  display: flex;
  align-items: center;
}

.exer-item__post-tag span {
  margin-right: 4px;
  font-size: 12px;
  /*line-height: 1;*/
}

.exer-item__post-tag button {
  display: flex;
  align-items: center;
  padding: 0;
  height: 100%;
  border: none;
  background-color: transparent;
}

.exer-item__start-btn {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 1.5;
  border: none;
  background-color: transparent;
  color: #242424;
}

.exer-item__start-btn svg {
  margin-left: 8px;
}

.exer-item__name {
  display: flex;
}

.exer-item__name__icon {
  margin-right: 16px;
  color: #242424;
}

.exer-item__name__text {
  font-size: 20px;
  line-height: 1;
}

.exer-item__stats {
  display: flex;
  justify-content: space-between;
}

.exer-item__stats__param {
  font-size: 12px;
  line-height: 1.5;
  color: #24242466;
}

.exer-item__stats__param span {
  color: #242424;
}
