.exercises-section {
  font-family: 'DM Sans', sans-serif;
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  margin: auto;
  background-color: #f4f4f4;
  padding: 60px 32px 132px 32px;
  gap: 32px;
}

.exercises-topbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.exercises-headline-holder {
  display: flex;
  align-items: end;
}

.exercises-title {
  font-weight: 400;
  font-size: 44px;
  line-height: 48px;
  letter-spacing: -0.02em;
  color: #242424;
}

.exercises-title-filter {
  text-transform: capitalize;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.02em;
}

.exercises-topbar-right {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}

.exercises-search-holder {
  position: relative;
}

.exercises-search-button {
  position: absolute;
  top: 10px;
  right: 15px;
}

.exercises-search {
  border: 1px solid #242424;
  border-radius: 30px;
  padding: 12px 14px;
  width: 273px;
}

.exercises-filter-types {
  display: flex;
  gap: 20px;
  padding-top: 8px;
}

.exercises-filter-type {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
  color: #24242499;
  position: relative;
  padding-top: 4px;
  padding-bottom: 4px;
}
.exercises-filter-type.active {
  color: #242424;
}

.exercises-filter-type.active::after {
  content: '';
  display: inline-block;
  width: 100%;
  border-style: solid;
  border-radius: 2px;
  border-width: 2px;
  border-color: #242424;
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: #242424;
  bottom: -4px;
}

.exercises-content {
  gap: 32px;
  display: flex;
}

.exercises-sidebar {
  max-width: 440px;
}

.quote-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100px;
}

.quote-body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.exercises-sidebar .hint-container {
  height: auto;
  min-width: 444px;
  display: flex;
  flex-direction: row;
}

.exercises-sidebar .hint-container .hint-left {
  padding-left: 20px;
  padding-right: 16px;
}

.hint-content__subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.exercises-sidebar .hint-content__text {
  padding-bottom: 20px;
  padding-right: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0px;
}

.exercises-dumble-icon {
  background-color: black;
  border-radius: 50%;
}

.exercises-banner {
  margin-top: 16px;
  border-radius: 20px;
}

.exercises-layout {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.exercises-filters-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.exercises-filter-card {
  min-width: 290px;
  height: 242px;
  gap: 2px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-size: cover;
  position: relative;
}

.exercises-grid .exer-list__card {
  width: 49%;
}

.exercises-grid .exer-card__tag {
  margin-right: 16px;
}

.exercises-grid .exer-card__post-tag {
  margin-right: 2px;
}

.exercises-filter-card::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
  border-radius: 12px;
}

.exercises-filter-card-name {
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  color: #f4f4f4;
  z-index: 1;
  text-transform: capitalize;
  max-width: 290px;
}

.exercises-filter-card-type {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0px;
  color: #f4f4f4;
  opacity: 40%;
  z-index: 1;
  text-transform: capitalize;
}

.exercises-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: -20px;
}

.exercises-page-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: auto;
  margin-top: 32px;
}

.exercises-page-button {
  opacity: 0.5;
  border: 0;
  width: 40px;
  height: 40px;
  font-size: 24px;
  color: #242424;
}

.disabled {
  pointer-events: none;
  cursor: not-allowed;
  border: 1px solid #242424;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  line-height: 1;
  opacity: 1;
}

.exercises-noitems {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  margin: auto;
  width: 100%;
  display: none;
}

@media (max-width: 1480px) {
  .exercises-topbar {
    flex-direction: column;
  }

  .exercises-topbar-right {
    margin-top: 32px;
  }

  .exercises-content {
    display: grid;
  }

  .exercises-sidebar {
    order: 2;
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    gap: 16px;
  }

  .exercises-sidebar .quote {
    max-width: 400px;
    min-height: 200px;
  }

  .exercises-banner {
    object-fit: cover;
    object-position: center;
    margin-top: 0;
    max-width: 288px;
  }

  .exercises-sidebar .hint-container {
    width: 40%;
    min-height: 200px;
    margin-top: 0;
  }

  .exercises-layout {
    order: 1;
  }

  .exercises-filter-card {
    min-width: 225px;
    height: 225px;
  }

  .exercises-filter-card-name {
    max-width: 225px;
  }
}

@media (max-width: 905px) {
  .exercises-grid .exer-list__card {
    width: 100%;
  }
}

@media (max-width: 850px) {
  .exercises-search {
    width: 100%;
  }
  .exercises-topbar-right {
    justify-content: space-between;
    flex-direction: column;
  }
  .exercises-sidebar .hint-container {
    width: 100%;
  }
}

@media (max-width: 575px) {
  .exercises-filter-card {
    min-width: auto;
    width: 100%;
  }
  .exercises-banner {
    min-width: auto;
    width: 100%;
  }
  .exercises-sidebar .hint-container {
    width: 100%;
    min-width: auto;
  }

  .exercises-sidebar .quote {
    max-width: 100%;
    min-width: 100%;
  }
}
