.card-ph {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
  padding: 16px;
  width: 100%;
  height: 141px;
  border-radius: 20px;
  background-color: #ffffff;
  box-shadow: 2px 1px 5px 1px lightgrey;
}

.card-ph__stripe {
  border-radius: 4px;
  background-color: #babbbc;
}

.card-ph__top,
.card-ph__bottom {
  display: flex;
  justify-content: space-between;
  height: 20%;
}

.card-ph__top-left {
  width: 45%;
}

.card-ph__top-right {
  width: 20%;
}

.card-ph__middle {
  width: 85%;
  height: 20%;
}

.card-ph__bottom-left {
  width: 30%;
}

.card-ph__bottom-middle {
  width: 30%;
}

.card-ph__bottom-right {
  width: 30%;
}

.card-ph__stripe {
  animation: hintloading 2s ease-in-out 0s infinite reverse;
  -webkit-animation: hintloading 2s ease-in-out 0s infinite reverse;
}

@keyframes hintloading
{
  0% {
    opacity: 0.5;
  }
  50%  {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
