.footer {
  display: flex;
  font-family: 'DM Sans', sans-serif;
  background-color: var(--black-color);
}

.footer-top {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 62px 0;
  color: var(--light-color);
}

.footer-top__container {
  display: flex;
  flex-direction: column;
}

.footer-network {
  margin-bottom: 40px;
}

.footer-network .nav__logo {
  margin-bottom: 32px;
}

.footer-slogan {
  font-weight: 400;
  font-size: 38px;
  line-height: 44px;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 16px 0;
  color: #C6CDD1;
  font-size: 14px;
  line-height: 18px;
}

.footer-bottom__container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-nav {
  display: flex;
}

.footer-nav__item {
  position: relative;
  margin-right: 22px;
}

.footer-nav__item:last-child {
  margin-right: 0;
}

.footer-nav__item::after {
  content: '/';
  display: block;
  position: absolute;
  top: 0;
  right: -14px;
}

.footer-nav__item:last-child::after {
  content: '';
  display: none;
}

.subscribe-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.subscribe-form__label {
  color: var(--light-color);
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 20px;
}

.subscribe-form__input {
  margin-bottom: 20px;
  padding: 12px 14px;
  border: 1px solid var(--light-color);
  border-radius: 50px;
  background-color: inherit;
  color: var(--light-color);
  outline:none;
}

.subscribe-form__button {
  background-color: var(--light-color);
  border-radius: 50px;
  color: var(--black-color);
  padding: 12px 0;
  cursor: pointer;
  font-size: 16px;
  line-height: 24px;
}

.subscribe-form__button:hover {
  background-color: var(--gray-color);
}

@media screen and (min-width: 768px) {
  .footer-top {
    flex-direction: row;
  }

  .footer-network {
    margin-right: 170px;
  }

  .subscribe-form__label {
    font-size: 18px;
    line-height: 24px;
  }

  .footer-bottom__container {
    flex-direction: row;
    width: 100%;
  }

  .footer-text {
    flex: 1;
  }

  .footer-nav {
    flex: 1;
  }
}

@media screen and (min-width: 1440px) {
  .footer-network {
    flex: .95;
    margin-right: 0;
  }

  .footer-top__container {
    flex: 1;
  }

  .footer-slogan {
    font-size: 56px;
    line-height: 60px;
  }
}
