.footer {
  display: flex;
  font-family: 'DM Sans', sans-serif;
  background-color: var(--black-color);
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 62px 0;
  color: var(--light-color);
}

.footer-network {
  flex: 1;
}

.footer-network .nav__logo {
  margin-bottom: 32px;
}

.footer-slogan {
  flex: 2;
  font-size: 56px;
  font-weight: 400;
  line-height: 60px;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
  color: #C6CDD1;
  font-size: 14px;
  line-height: 18px;
}

.footer-nav {
  display: flex;
  flex: 2;
}

.footer-nav__item {
  position: relative;
  margin-right: 22px;
}

.footer-nav__item:last-child {
  margin-right: 0;
}

.footer-nav__item::after {
  content: '/';
  display: block;
  position: absolute;
  top: 0;
  right: -14px;
}

.footer-nav__item:last-child::after {
  content: '';
  display: none;
}

.footer-text {
  flex: 1;
}

/* subscribe-form */
.subscribe-form {
  display: flex;
  flex-direction: column;
}

.subscribe-form__label {
  color: var(--light-color);
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 20px;
}

.subscribe-form__input {
  margin-bottom: 20px;
  padding: 12px 14px;
  border: 1px solid var(--light-color);
  border-radius: 50px;
  background-color: inherit;
  color: var(--light-color);
  outline:none;
}

.subscribe-form__button {
  background-color: var(--light-color);
  border-radius: 50px;
  color: var(--black-color);
  padding: 12px 0;
  cursor: pointer;
  font-size: 16px;
  line-height: 24px;
}

.subscribe-form__button:hover {
  background-color: var(--gray-color);
}

@media screen and (min-width: 768px) {}

@media screen and (min-width: 1440px) {}
