.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;

    max-width: 375px;
}

.hero__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.hero__content {}



.hero__title {
    /*display: flex;*/
    /*align-items: center;*/

    margin-bottom: 20px;
}

.hero__title-icon {
    /*display: inline;*/

    width: 38px;
    height: 38px;
    margin-right: 5px;
}

.hero__title-text {
    /*display: inline;*/

    font-size: 38px;
    font-weight: 450; /*// УТОЧНИТИ*/
    line-height: 1.16;
    letter-spacing: -0.02em;
}

.hero__highlight {
    font-style: italic;
}

.hero__subtitle {
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
}

.hero__image {}

.hero__image-pic {
    /*min-width: 335px;*/
    /*min-height: 460px;*/
    border-radius: 30px;
}


@media screen and (min-width: 768px) {

}

@media screen and (min-width: 1280px) {

}