.quote {
  display: flex;
  gap: 20px;
  padding: 20px;
  border-radius: var(--quote-section-border-radius);
  background-color: var(--black-color);
  color: var(--light-color);
}

.quote-header__title {
  font-weight: 500;
  font-size: var(--quote-header-font-size-mobile);
  line-height: 1;
}

.quote-body {
  margin-top: 10px;
  font-size: var(--quote-text-font-size);
  line-height: 1.285;
}

.quote-body__text {
  color: var(--light99-color);
}

.quote-body__author {
  margin-top: 10px;
}

.quote-header {
  display: flex;
  justify-content: space-between;
}

@media only screen and (min-width: 768px) {
  .quote {
    padding: 40px;
  }

  .quote-header__title {
    font-size: var(--quote-header-font-size);
    line-height: 1.333;
  }
}
