.quote {
  display: flex;
  gap: 20px;
  padding: 20px;
  border-radius: 20px;
  background-color: #242424;
  color: #F4F4F4;
}

.quote-header__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
}

.quote-body {
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.285;
}

.quote-body__text {
  color: #F4F4F499;
}

.quote-body__author {
  margin-top: 10px;
}

.quote-header {
  display: flex;
  justify-content: space-between;
}

@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 1280px) {}
