.burger-menu-container {
  display: none;
}

@media (max-width: 768px) {
  .burger-menu-container {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1001;
  }
}

.burger-menu {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background: none;
  border: none;
  cursor: pointer;
}

.burger-menu__line {
  width: 25px;
  height: 3px;
  background-color: var(--black-color);
}

.side-menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 56%;
  height: 100%;
  background-color: var(--black-color);
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  transition: right 0.3s ease;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.side-menu__close {
  align-self: flex-end;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.side-menu__networks {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.side-menu__network-link {
  display: inline-block;
  width: 44px;
  height: 44px;
}

.side-menu__network-link .nav__icon {
  width: 100%;
  height: 100%;
}

.button-container {
  display: flex;
  position: relative;
  top: 35%;
  transform: translateY(-50%);
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.button {
  font-family: var(--common-font), sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0px;
  padding: 10px 20px;
  background-color: #242424;
  color: #fff;
  border: none;
  cursor: pointer;
  text-align: center;
}
