<section class="exercises-section">
  <div class="exercises-topbar">
    <h2 class="exercises-title">Exercises</h2>
    <div class="exercises-topbar-right">
      <input class="exercises-search" placeholder="Search" type="text" id="search" />
      <ul class="exercises-filter-types" id="filter-types"></ul>
    </div>
  </div>
  <div class="exercises-content">
    <div class="exercises-sidebar">
      <div class="quote">
        <blockquote>
          "A lot of times I find that people who are blessed with the most
          talent don't ever develop that attitude, and the ones who aren't
          blessed in that way are the most competitive and have the biggest
          heart."
        </blockquote>
        <cite>– Tom Brady</cite>
      </div>

      <div class="info">
        <h3>110 min</h3>
        <p>
          The World Health Organization recommends at least 150 minutes of
          moderate-intensity aerobic physical activity... 110 minutes daily may
          offer unparalleled benefits.
        </p>
      </div>
    </div>

    <div class="exercises-layout">
      <ul id="filters" class="exercises-filters-grid"></ul>
      <ul id="exercises" class="exercises-grid" style="display: none"></ul>
      <ul id="pages" class="exercises-page-buttons"></ul>
      <div id="noitems" class="exercises-noitems">
        There are no items matching your search criteria.
      </div>
    </div>

  </div>
</section>
