<div class="exercises-headline-holder">
  <h2 id="exercises-title" class="exercises-title">Favorites</h2>
</div>
<div class="favorites">
  <div class="favorites__info-panel">
    <load src="/partials/quote.html" />
    <div class="info-panel__hint">
      <div class="hint-container">
        <svg width="20" height="20">
          <use href="./sprite.svg#dumble-black"></use>
        </svg>
        <div class="hint-content">
          <h4 class="hint-content__title">110 min</h4>
          <p class="hint-content__text">Daily norm of sports</p>
        </div>
      </div>
      <div class="favorites-img">
        <picture>
          <source
            media="(max-width: 767px)"
            srcset="
              ./assets/img/favorites/women-smile-mob.webp    1x,
              ./assets/img/favorites/women-smile-mob@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./assets/img/favorites/women-smile-mob.png    1x,
              ./assets/img/favorites/women-smile-mob@2x.png 2x
            "
            type="image/png"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./assets/img/favorites/women-smile-tab.webp    1x,
              ./assets/img/favorites/women-smile-tab@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./assets/img/favorites/women-smile-tab.png    1x,
              ./assets/img/favorites/women-smile-tab@2x.png 2x
            "
            type="image/png"
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./assets/img/favorites/women-smile.webp    1x,
              ./assets/img/favorites/women-smile@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./assets/img/favorites/women-smile.png    1x,
              ./assets/img/favorites/women-smile@2x.png 2x
            "
            type="image/png"
          />
          <img
            src="./assets/img/favorites/women-smile.png"
            alt="Women smile"
          />
        </picture>
      </div>
    </div>
  </div>

  <div class="favorites__list"></div>
</div>
