<section class="section hero container">
  <div class="hero__container">
    <div class="hero__content">
      <div class="hero__title">
        <h1 class="hero__title-text">
          <svg class="hero__title-icon" height="38" width="38">
            <use href="./assets/img/sprite.svg#icon-sun"></use>
          </svg>
          Get <span class="hero__highlight">Body</span> in shape,
          Stay healthy
        </h1>
      </div>
      <p class="hero__subtitle">
        Transform your physique and embrace a healthier lifestyle
        with our comprehensive fitness and nutrition support.
      </p>
    </div>
    <div class="hero__image">
      <picture>
        <source media="(min-width: 1440px)"
                srcset="
                    ./assets/img/home/women-working-out-outdoors-desk.webp 1x,
                    ./assets/img/home/women-working-out-outdoors-desk@2x.webp 2x
                "
                type="image/webp"
        />
        <source media="(min-width: 1440px)"
                srcset="
                    ./assets/img/home/women-working-out-outdoors-desk.png 1x,
                    ./assets/img/home/women-working-out-outdoors-desk@2x.png 2x
                "
                type="image/png"
        />
        <source media="(min-width: 768px)"
                srcset="
                    ./assets/img/home/women-working-out-outdoors-tab.webp 1x,
                    ./assets/img/home/women-working-out-outdoors-tab@2x.webp 2x
                "
                type="image/webp"
        />
        <source media="(min-width: 768px)"
                srcset="
                    ./assets/img/home/women-working-out-outdoors-tab.png 1x,
                    ./assets/img/home/women-working-out-outdoors-tab@2x.png 2x
                "
                type="image/png"
        />
        <source media="(max-width: 768px)"
                srcset="
                    ./assets/img/home/women-working-out-outdoors-mob.webp 1x,
                    ./assets/img/home/women-working-out-outdoors-mob@2x.webp 2x
                "
                type="image/webp"
        />
        <source media="(max-width: 768px)"
                srcset="
                    ./assets/img/home/women-working-out-outdoors-mob.png 1x,
                    ./assets/img/home/women-working-out-outdoors-mob@2x.png 2x
                "
                type="image/png"
        />
        <img
          alt="Women in sportswear working out outdoors"
          class="hero__image-pic"
          src="./assets/img/home/women-working-out-outdoors.png"
        />
      </picture>
    </div>
    <div class="hero__tags">
      <div class="hero__tags-image">
        <picture>
          <source
            srcset="
                    ./assets/img/home/foot-image.webp 1x,
                    ./assets/img/home/foot-image@2x.webp 2x
                "
            type="image/webp"
          />
          <source
            srcset="
                    ./assets/img/home/foot-image.png 1x,
                    ./assets/img/home/foot-image@2x.png 2x
                "
            type="image/png"
          />
          <img
            alt="Young women doing fitness outdoors together"
            class="hero__tags-image-pic"
            src="./assets/img/home/foot-image.png"
          />
        </picture>
      </div>
      <ul class="hero__tags-list js-hero__tags-list"></ul>
    </div>
  </div>
</section>