<div class="quote__daily">
  <div class="quote__daily__man-icon">
    <svg width="32" height="32">
      <use href="./img/sprite.svg#icon-runnig-man-white"></use>
    </svg>
  </div>
  <div class="quote__daily-text">
    <div class="daily-text__title">
      <h4 class="daily-text__title-text">Quote of the day</h4>
      <svg class="daily-text__title-icon" width="20" height="20">
        <use href="./img/sprite.svg#inverted-commas"></use>
      </svg>
    </div>
    <div class="daily-text__text">
      <p class="daily-text__text-quote">
        I hated every minute of training, but I said, 'Don't quit. Suffer now and live the rest of your life as a champion.'
      </p>
      <p class="daily-text__text-author">Muhammad Ali</p>
    </div>
  </div>
</div>