<div class="quote">
  <div class="quote__icon">
    <svg width="32" height="32">
      <use href="./img/sprite.svg#icon-runnig-man-white"></use>
    </svg>
  </div>
  <div class="quote__desc">
    <div class="quote__title">
      <h4 class="quote__title__text">Quote of the day</h4>
      <svg class="quote__title__icon" width="20" height="20">
        <use href="./img/sprite.svg#inverted-commas"></use>
      </svg>
    </div>
    <div class="quote__text">
      <p class="quote__text__text">
        I hated every minute of training, but I said, 'Don't quit. Suffer now and live the rest of your life as a champion.'
      </p>
      <p class="quote__text__author">Muhammad Ali</p>
    </div>
  </div>
</div>