<div class="quote">
  <div>
    <svg width="32" height="32">
      <use href="./sprite.svg#icon-running-man-white"></use>
    </svg>
  </div>
  <div class="quote-container">
    <div class="quote-header">
      <h4 class="quote-header__title">Quote of the day</h4>
      <svg class="quote-header__icon" width="20" height="20">
        <use href="./sprite.svg#inverted-commas"></use>
      </svg>
    </div>
    <div class="quote-body">
      <p class="quote-body__text">
        I hated every minute of training, but I said, 'Don't quit. Suffer now
        and live the rest of your life as a champion.'
      </p>
      <p class="quote-body__author">Muhammad Ali</p>
    </div>
  </div>
</div>
